{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <div class="container mx-auto px-6 mt-8">
        <h1 class="text-3xl font-bold text-center text-gray-700">Panier</h1>
        <div class="mt-16">
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                {% for cartProduct in cartProducts %}
                    <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div class="relative flex items-end justify-end h-56 w-full">
                            <img src="{{ cartProduct.product.imageName }}" alt="Product Image"
                                 class="absolute inset-0 h-full w-full object-cover">
                        </div>
                        <div class="px-5 py-3">
                            <h3 class="text-gray-700 uppercase">{{ cartProduct.product.title }}</h3>
                            <span class="text-gray-500 mt-2">{{ cartProduct.product.price }} €</span>
                        </div>
                        <form action="{{ path('app_cart_delete', {'product_id': cartProduct.product.id}) }}" method="POST">
                            <button type="submit" class="mt-4 inline-block text-blue-600 hover:text-blue-500">
                                Enlever du panier
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if cartProducts is not empty %}
            <div class="flex justify-between items-center mt-8 font-bold text-xl border-t pt-4">
                <span class="text-gray-700">Total du panier :</span>
                <span class="text-gray-700">{{ totalPrice|number_format(2, ',', ' ') }} €</span>
            </div>
        {% else %}
            <p class="text-center text-gray-500 mt-4">Votre panier est vide.</p>
        {% endif %}
        <div class="flex justify-center mt-6">
            <a href="{{ path('app_order') }}">
                <button class="bg-blue-500 hover:bg-blue-700 text-blue font-bold py-2 px-4 rounded">
                    Commander
                </button>
            </a>
        </div>
    </div>
{% endblock %}
