{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-6 py-6">
        <h1 class="text-2xl font-semibold text-gray-700 text-center">Set Your Location</h1>
        <div class="mt-6 max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
            {{ form_start(form, { 'attr': { 'class': 'space-y-6' } }) }}

            <div class="space-y-2">
                {{ form_label(form.location, null, {
                    'label_attr': { 'class': 'block text-sm font-medium text-gray-700' }
                }) }}
                {{ form_widget(form.location, {
                    'attr': { 'class': 'form-control block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50' }
                }) }}
                {{ form_errors(form.location) }}
            </div>

            <button type="submit">
                Save Location
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}