{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}
    <div class="container mx-auto px-6 mt-8">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden md:max-w-lg">
            <div class="p-4">
                <h2 class="text-2xl text-center font-bold text-gray-700">Ajouter un Nouveau Produit</h2>

                {{ form_start(form, {'attr': {'class': 'mt-6'}}) }}

                <div class="mt-4">
                    Titre
                    {{ form_widget(form.title, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="mt-4">
                    Description
                    {{ form_widget(form.description, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="mt-4">
                    Prix
                    {{ form_widget(form.price, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="mt-4">
                    Catégorie
                    {{ form_widget(form.category, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="mt-4">
                    Code Postal
                    {{ form_widget(form.postalCode, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="mt-4">
                    Image
                    {{ form_widget(form.imageFile, {'attr': {'class': 'w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
                </div>

                <div class="flex items-center justify-between mt-6">
                    <button type="submit" class="w-full px-4 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        Ajouter le produit
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
