{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Mes Favoris</h1>

    {% if favorites|length == 0 %}
        <p class="mt-4 text-gray-600">Vous n'avez aucun favori pour le moment.</p>
    {% else %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
            {% for favorite in favorites %}
                <div class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300">
                    {% if favorite.product.imageName %}
                        <img
                                src="{{ favorite.product.imageName starts with 'http' ? favorite.product.imageName : asset('uploads/product_images/' ~ favorite.product.imageName) }}"
                                alt="Product Image"
                                class="w-full h-40 object-cover rounded"
                        />
                    {% endif %}
                    <a href="{{ path('app_cart_add',{ id: favorite.product.id }) }}">
                        <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500 relative">
                            <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                            </svg>
                        </button>
                    </a>
                    <h2 class="text-xl font-semibold mt-2">{{ favorite.product.title }}</h2>
                    <p class="text-gray-600">{{ favorite.product.description|length > 100
                        ? favorite.product.description[:100] ~ '...'
                        : favorite.product.description }}</p>
                    <p class="text-lg font-bold text-gray-800 mt-2">{{ favorite.product.price }} €</p>

                    <form action="{{ path('remove_favorite', {'id': favorite.product.id}) }}" method="POST" class="mt-4">
                        <button type="submit" class="text-red-600 hover:text-red-500">
                            Enlever des favoris
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
