{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Mes Favoris</h1>

    {% if favorites|length == 0 %}
        <p class="mt-4 text-gray-600">Vous n'avez aucun favori pour le moment.</p>
    {% else %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
            {% for favorite in favorites %}
                <div class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300">
                    {% if favorite.product.imageName %}
                        <img
                                src="{{ favorite.product.imageName starts with 'http' ? favorite.product.imageName : asset('uploads/product_images/' ~ favorite.product.imageName) }}"
                                alt="Product Image"
                                class="absolute inset-0 h-full w-full object-cover"
                        />
                    {% endif %}
                    <h2 class="text-xl font-semibold mt-2">{{ favorite.product.title }}</h2>
                    <p class="text-gray-600">{{ favorite.product.description|length > 100
                        ? favorite.product.description[:100] ~ '...'
                        : favorite.product.description }}</p>
                    <p class="text-lg font-bold text-gray-800 mt-2">{{ favorite.product.price }} €</p>

                    <form action="{{ path('remove_favorite', {'id': favorite.product.id}) }}" method="POST" class="mt-4">
                        <button type="submit" class="text-red-600 hover:text-red-500">
                            Enlever des favoris
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
